.output {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0071;
    background-color: #ff0071;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px auto;
    position: relative;
}

.output p {
    padding: 5px;
    color: rgb(235, 244, 245);
    text-align: center;
}